#about-page
  .author-content-item.careers
    min-height 400px

    img
      position absolute
      left 0
      bottom 0
      height: 100%
      transition .6s
      user-select none
      z-index: -1
      object-fit: cover

    .careers-group
      margin-top 12px

    .careers-item
      display flex
      align-items center
      margin-bottom 15px 

      .circle
        width 16px
        height 16px
        margin-right 8px
        border-radius 16px

      .name
        color #f7f7fa
        text-shadow 0.5px 0.5px 1px rgba(0, 0, 0, 0.5)
  
  .author-content-item-ctips
     color #f7f7fa
     opacity 0.8
     font-size 0.6rem
     margin-bottom 0.5rem
     
  .author-content-item-ctitle
     color #f7f7fa
     margin-bottom 0.5rem
     font-size 36px
     font-weight 700
     line-height 1 
        
  @media screen and (max-width: 768px)
     .name
       text-shadow 0.03em 0.03em 0.05em rgba(0, 0, 0, 0.5)
      