- let title = page.title, subtitle =''
- if (is_home()) title = config.title
- else if (is_archive()) title = _p('page.archives') + (page.year || "")
- else if (is_tag()) title = _p('page.tag')+': '  + page.tag
- else if (is_category()) title = _p('page.category') +': ' + page.category
- else if (page.type === '404') title = _p('page.404')
- else if (page.type === 'tags') title = _p('page.tags')
- else if (page.type === 'categories') title = _p('page.categories')
- else if (is_post() || is_page()) title = page.title

- if (is_home()) subtitle = config.subtitle ? ' - ' + config.subtitle : ''
- else subtitle = title ? ' | ' + config.title : config.title

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")

title= title + subtitle
noscript= _p('head.noscript')
link(rel="icon", href=url_for(theme.site.icon))

// index.css
link(rel="stylesheet", href=url_for(theme.cdn.main_css))

// inject head
include ./inject/head.pug

// global head
include ./head/config.pug

// page-config head
include ./head/page_config

// 移动端触摸反馈修复 - 内联样式确保最高优先级
style.
  /* 强制禁用移动端触摸反馈效果 */
  html body * {
    -webkit-tap-highlight-color: transparent !important;
  }
  
  html body .nav-button,
  html body .nav-button a,
  html body .nav-button button {
    -webkit-tap-highlight-color: transparent !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -webkit-touch-action: manipulation !important;
    touch-action: manipulation !important;
  }
  
  html body #comment_button,
  html body #comment_button a,
  html body #theme_button,
  html body #theme_button a {
    -webkit-tap-highlight-color: transparent !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -webkit-touch-action: manipulation !important;
    touch-action: manipulation !important;
  }
  
  /* 移动端特定样式 */
  @media (max-width: 768px) {
    html body .nav-button a:active {
      -webkit-tap-highlight-color: transparent !important;
      transform: scale(0.95) !important;
      opacity: 0.8 !important;
    }
  }
